<div class="container mt-4">

  <!-- ================= STAFF INFO ================= -->
  <div class="card mb-4">
    <div class="card-header">Staff Details</div>

    <div class="card-body row g-3">

      <div class="col-md-6">
        <label>Email</label>
        <input class="form-control" [(ngModel)]="staff().email">
      </div>

      <div class="col-md-6">
        <label>Phone</label>
        <input class="form-control" [(ngModel)]="staff().phone">
      </div>

      <div class="col-md-6">
        <label>First Name</label>
        <input class="form-control" [(ngModel)]="staff().firstName">
      </div>

      <div class="col-md-6">
        <label>Last Name</label>
        <input class="form-control" [(ngModel)]="staff().lastName">
      </div>

      <div class="col-12">
        <label>Bio</label>
        <textarea class="form-control" [(ngModel)]="staff().bio"></textarea>
      </div>

      

    </div>
  </div>


  <!-- ================= WORKING HOURS ================= -->
  <div class="card mb-4">
    <div class="card-header">Working Schedule</div>

    <div class="card-body p-0">

      <table class="table table-bordered text-center align-middle mb-0">

        <thead class="table-light">
          <tr>
            <th>Day</th>
            <th>Working</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let day of staff().workingHours">

            <td><strong>{{ day.dayName }}</strong></td>

            <td>
              <input type="checkbox" [(ngModel)]="day.isWorking">
            </td>

            <td>
              <input type="time"
                     class="form-control"
                     [(ngModel)]="day.startTime"
                     [disabled]="!day.isWorking">
            </td>

            <td>
              <input type="time"
                     class="form-control"
                     [(ngModel)]="day.endTime"
                     [disabled]="!day.isWorking">
            </td>

          </tr>
        </tbody>

      </table>

    </div>
  </div>

  <div class="mt-4">
    <div class="card shadow-sm">
        <div class="card-header">
            <h5 class="mb-0">Assigned Services</h5>
        </div>

        <div class="card-body">

            <!-- Services -->
            <div class="mb-4">

                <div class="row" id="serviceContainer">

                    <!-- Example -->
                    <div class="col-md-3 mb-2" *ngFor="let service of staff().services">
                        <div class="form-check">

                            <label class="form-check-label"
                                   [for]="'service' + service.id">
                                {{ service.name }}
                            </label>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

</div>