    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <i class="fas fa-spa me-2"></i>Luxe Salon
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" fragment="services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" fragment="staff">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" fragment="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[]" fragment="contact">Contact</a>
                    </li>
                    <li class="nav-item ms-lg-3">
                        <a class="btn btn-light rounded-pill px-4" routerLink="/customer-login">
                            <i class="fas fa-user me-2"></i>Login
                        </a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="btn btn-outline-light rounded-pill px-4" href="customer-register.html">
                            Book Now
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>

 <!-- Footer -->
    <footer class="footer-custom">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4">
                    <h5><i class="fas fa-spa me-2"></i>Luxe Salon</h5>
                    <p>Your premier destination for beauty and wellness. We commit to making you look and feel your best.</p>
                    <div class="d-flex gap-3">
                        <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fab fa-youtube fa-lg"></i></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#services">Services</a></li>
                        <li class="mb-2"><a href="#staff">Our Team</a></li>
                        <li class="mb-2"><a href="#about">About Us</a></li>
                        <li class="mb-2"><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h5>Services</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Hair Styling</a></li>
                        <li class="mb-2"><a href="#">Facials</a></li>
                        <li class="mb-2"><a href="#">Nail Services</a></li>
                        <li class="mb-2"><a href="#">Massage</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5>Newsletter</h5>
                    <p>Subscribe to get special offers and updates</p>
                    <div class="d-flex">
                        <input type="email" class="form-control rounded-start" placeholder="Your Email">
                        <button class="btn btn-light rounded-end">Subscribe</button>
                    </div>
                </div>
            </div>
            <hr class="my-4" style="border-color: rgba(255,255,255,0.2);">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">&copy; 2026 Luxe Salon. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#" class="me-3">Privacy Policy</a>
                    <a href="#">Terms of Service</a>
                </div>
            </div>
        </div>
    </footer>
